* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.site-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    font-family: 'Poppins';
    margin: 20px;
}

.nav-header {
    display: flex;
    align-items: baseline;
    gap: 30px;
}

.get-template {
    background-color: black;
    border-radius: 15px;
    text-align: center;
    color: white;
    padding: 15px;
}

/* ---------- Стили для site-bottom-header ---------- */

.site-bottom-header {
    display: flex;
    justify-content: space-between;

    background-color: #ECE7E4;
    width: 100%;
    height: 850px;
}

.text-bottom-header {
    display: flex;
    flex-direction: column;

    font-family: 'Poppins';
    padding: 150px;
}

.logo-bottom-header {
    font-weight: 200;
    font-size: 20px;
}

.heading-bottom-header {
    font-weight: 400;
    font-size: 70px;
}

.bottom-text-bottom-header {
    font-weight: 300;
    margin-top: 20px;
}

.button-bottom-header {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 15px;
    margin-top: 30px;
}

/*---------- Стили для confirm ----------*/

.confirm-elements {
    gap: 200px;
    display: flex;
    justify-content: center;
    align-items: baseline;

    font-family: 'Poppins';
    margin-top: 50px;
}

.name-confirm-elements {
    font-size: 30px;
    font-weight: 400;
}

.text-confirm-elements {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.stephen-text-confirm-elements {
    gap: 20px;
    display: flex;   
}

.image-stephen-text-confirm-elements {
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid #CEC4BC;
    width: 80px;
    height: 80px;
}

.text-stephen-text-confirm-elements {
    margin-top: 15px;
}

.job-text-stephen-text-confirm-elements {
    font-weight: 300;
}

/*---------- Стили для reading-house ---------- */

.reading-house {
    display: flex;
    align-items: center;
    margin-top: 60px;
    height: fit-content;
    font-family: 'Poppins';
    font-weight: 200;
}

.ladder-reading-house {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.text-reading-house {
    z-index: 1;
    position: absolute;
    font-size: 22px;
    margin-right: 180px;
    right: 0;
}

/*---------- Стили для our process ----------  */

.head-our-process {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    font-family: 'Poppins';
}

.heading-head-our-process {
    font-weight: 200;
}

.text-head-our-process {
    font-size: 40px;
}

/*--------------------------------------------*/

.main-our-process {
    display: flex;
    justify-content: space-around;

    margin-top: 60px;
    font-family: 'Poppins';
}

.sketching-main-our-process, .finalizing-main-our-process, .building-main-our-process {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.text-sketching-main-our-process, .text-finalizing-main-our-process, .text-building-main-our-process {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin-top: 10px;
}

.heading-text-sketching-main-our-process, .heading-text-finalizing-main-our-process, .heading-text-building-main-our-process {
    font-size: 20px;
    font-weight: 300;
}

.text-text-sketching-main-our-process, .text-text-finalizing-main-our-process, .text-text-building-main-our-process {
    font-weight: 200;
}
